{% extends 'base.html' %}
{% block page_title %}Add Feedback{% endblock %}
{% block body_text %}

<div class="container margin_bottom">
    <div class="row">
        <div class="col-sm-12">
            <h1>Let us know how we're doing!</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6">

            <!-- Form to add feedback -->
            <form method="POST">
                {% csrf_token %}
                <!-- Displays the feedback input box -->
                <label for="{{ form.feedback.id_for_label }}">Feedback:</label>
                <label for="id_feedback"></label>
                <input id="id_feedback" type="text" name="feedback" maxlength="100" /></p>

                <!-- Checks if the user is logged in, if they are their name will be 
                displayed in the name field -->
                {% if user.is_authenticated %}
                    <label for="{{ form.name.id_for_label }}">Name:</label>
                    <label for="id_name"></label>
                    <input id="id_name" type="text" name="name" maxlength="100" value={{user}}>
                    
                <!-- If they aren't logged in the name input field will be empty so
                they can enter their name -->
                {% else %}
                    <label for="{{ form.name.id_for_label }}">Name:</label>
                    <label for="id_name"></label>
                    <input id="id_name" type="text" name="name" maxlength="100" /></p>
                {% endif %}
                
                <button class="btn btn-primary" type="submit">Send</button>
            </form>
        </div>

        <div class="col-sm-12 col-md-6">
            <h4 class="margin_bottom">What others think</h4>
            <div class="col-sm-12 col-md-6">

                <!-- Display feedback randomly -->
                <p class="italic">"{{random_feedback|title}}" 
                    
                    {% if random_feedback.name == '' %} Anonymous {% else %}
                    {{random_feedback.name}} {% endif %}
                    
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}