{% extends 'base.html' %}
{% block page_title %}Features Page{% endblock %}

{% block breadcrumb_overview_of_page %}
<!-- Breadcrumbs of page overview -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Features</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
</ol>
{% endblock %}

{% block body_text %}

<div class="container">
    <!-- Table for new feature requests -->
    <div class="row">
        <div class="col-sm-12">
            <h2>New Feature Requests</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <!-- <th scope="col">Issue no.</th> -->
                        <th scope="col">Feature</th>
                        <th scope="col">Status</th>
                        <th scope="col">Handler</th>
                        <th scope="col">Likes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for feature in name %}
            
                    <tr>
                        {% if feature.done %}
            
            
                        {% else %}
            
                        {% if user.is_authenticated %}
            
                        <td>{{feature.name | title }}</td>
            
                        <td>Status</td>
            
                        <td>Handler</td>
            
                        <td>
            
                            <form method="POST" action="toggle/{{ item.id }}">{% csrf_token %}<button class="plain_button"><i
                                        class="fa fa-thumbs-o-up"></i></button>{{ feature.likes.count }}</form>
                        </td>
            
                        <!-- <td>{{ item.likes.count }}</td> -->
            
                        <!-- <input type="submit" value="Like Me"> -->
                        {% else %}
                        <td>{{feature.name | title }}</td>
            
                        <td>Status</td>
            
                        <td>Handler</td>
            
                        <td>
                            <button class="plain_button login_to_like"><i
                                    class="fa fa-thumbs-o-up"></i></button>{{ feature.likes.count }}
                        </td>
            
                        {% endif %}
            
                        {% endif %}
                    </tr>
                    {% empty %}
                    <p>No features, for now...</p>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- closing sm class -->
    </div> <!-- closing row -->

            <!-- Table for features implemented -->

    <div class="row">
        <div class="col-sm-12">
            <h2>New Features Implemented</h2>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <!-- <th scope="col">Issue no.</th> -->
                        <th scope="col">Feature</th>
                        <th scope="col">Status</th>
                        <th scope="col">Handler</th>
    
                    </tr>
                </thead>
                <tbody>
                    {% for done_feature in name %}
                    <tr class="table-success">
                        {% if done_feature.done %}
                        <td><strike>{{done_feature.name}}</strike></td>
                        <td>Complete</td>
                        <td>Handler</td>
                        {% endif %}
                    </tr>
    
                    {% empty %}
                    <p>No new features Implemented, for now...</p>
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- closing sm class -->
    </div> <!-- closing row for implemented features  -->
</div> <!-- closing container -->
<br>

{% endblock %}