{% extends 'base.html' %}
{% block page_title %}Password Reset Done{% endblock %}
{% block body_text %}

<div class="container margin_top">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p>
                Your password reset request has been submitted. If an account with those details exists you will be sent an email 
                shortly.
            </p>
            <p>If you don't receive an email, please ensure you have entered the correct details.</p>
        </div>
    </div>
</div>

{% endblock %}