{% extends 'base.html' %}

{% block page_title %}Reset Password{% endblock %}
{% block body_text %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Reset Password</h1>
        </div>
    </div>
</div>

<!-- Form to reset password -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <form method="POST">
                <p>Please enter your email address</p>

                {% csrf_token %}
                {{ form.email.errors }}

                <p>
                    <label for="id_email">Email address:</label>
                    {{ form.email }}
                </p>

                <p><button type="submit" class="btn btn-primary">Reset Password</button></p>
            </form>
        </div> <!-- Close col -->
    </div> <!-- Close row -->
</div> <!-- Close container -->

{% endblock %}