{% extends 'base.html' %}
{% block page_title %}Password Reset Confirm{% endblock %}
{% block body_text %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            {% if validlink %}
                <h3>Change password</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Change password</button>
                </form>
            {% else %}
                <p>
                    The password reset link was invalid, it may already have been used.
                    Please send a new password reset request.
                </p>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}