{% extends 'base.html' %}
{% block page_title %}Charts{% endblock %}

{% block jquery %}
<script>
// variables for issues 
var defaultData = []
var labels = []

// variables for features
var ProgData = []
var labelsProg = []

var endpoint = "/charts/api-chart-data/"

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data, progress_data){

        // data and labels for issues count
        labels = data.labels
        defaultData = data.default

        // data and labels for features count
        labelsProg = data.progress_labels
        ProgData = data.progress_default

        // chart function to call issues chart: total issues and completed count
        setChart()

        // chart function to call features chart: total features and completed count
        setProgressChart()

        console.log("Well hello there you curious cat!")
    
    },
    errors: function(error_data) {
        console.log("Houston we have a problem")
        console.log(error_data)
    }
})
    
</script>
{% endblock %}


{% block body_text %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <canvas id="myChart" width="200" height="200"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="myChart2" width="200" height="200"></canvas>
        </div>
    </div>
</div>
<br>
{% endblock %}


{% block chart_scripts %}

<!-- chart for issues -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>
function setChart(){
    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: 'Issues',
                data: defaultData,
                backgroundColor: [
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
            }]
        }
    }
})
}      
</script> 


<!-- chart for features -->

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<script>
    function setProgressChart() {
            
            var ctx2 = document.getElementById('myChart2');
            var myChart = new Chart(ctx2, {
                type: 'pie',
                data: {
                    labels: labelsProg,
                    datasets: [{
                        label: 'Features',
                        data: ProgData,
                        backgroundColor: [
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })
        }      

</script>

{% endblock %}