{% extends 'base.html' %}

{% block page_title %}Products Page{% endblock %}


{% block body_text %}

<!-- Prints 'added to basket' message.
Function on script.js file -->
<div class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            <p id="confirmAlertMessage"></p>
        </div>
    </div>
</div>

<div class="container small_container margin_top">
    <div class="row">
        <div class="col-sm-12 col-md-12">

            <!-- Table displaying ticket for issues and features -->
            <table class="table table-borderless">
                <tbody>
                    
                    <th>Add New Issue</th>
                    <th>Add New Feature</th>
                    
                    <tr>
                        <td>
                            Submit a free issue request
                        </td>
                        <td>
                            <P>Purchase a feature ticket</P>
                        </td>
                    </tr>
                    
                    <tr>
                        {% if user.is_authenticated %}
                        <td><a href="{% url 'new_issue' %}" class="btn btn-primary">Issue button</a></td>
                        <td><a href="{% url 'checkout' %}" class="btn btn-primary">Feature button</a></td>

                        <!-- The user will be sent an alert if they aren't logged in. 
                        They will be told to log in before adding a new issue or buying a feature ticket -->
                        {% else %}
                        <td><button class="btn btn-primary login_to_add_issue">Add New Issue</button></td>
                        <td><button class="btn btn-primary login_to_buy">Add New Feature</button>
                        {% endif %}
                    </tr>
                    
                </tbody>
            </table>

        </div> <!-- Closing col div -->
    </div> <!-- Closing row -->
</div> <!-- Closing container -->

{% endblock %}