{% extends 'base.html' %}

{% block page_title %}Products Page{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Products page</h1>
        </div>
    </div>
</div>

<!-- Products to purchase new issue and feature tickets -->
<div class="container">
    <div class="row row-flex">
        {% for product in products %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
                
                <div class="panel-body">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                    <h2>{{ product.name }}</h2>
                    <p class="product-description">{{ product.description }}</p>
                    
                    {% if product.price == 0 %}
                        <p>Free</p>
                    {% else %}
                        <p><i class="fa fa-gbp">{{ product.price }}</p></i>
                    {% endif %}
                    

                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="100" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Add to basket</button>
                            </span>
                        </div>
                    </form>
                </div>

            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}