{% extends 'base.html' %}

{% block page_title %}Products Page{% endblock %}


{% block body_text %}

<!-- Prints 'added to basket' message.
Function on script.js file -->
<div class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            <p id="confirmAlertMessage"></p>
        </div>
    </div>
</div>


<!-- Products to purchase new issue and feature tickets -->
<div class="container margin_top">
    <div class="row row-flex products_container">
        {% for product in products %}
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 product-card">   
                <div class="panel-body">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                    
                    <h2>{{ product.name }}</h2>
                    <p class="product-description">{{ product.description }}</p>
                    
                    {% if product.price == 0 %}
                        
                    {% else %}
                        <p><i class="fa fa-gbp">{{ product.price }}</i></p>
                    {% endif %}
                     
                    <form class="margin_top" method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            {% if product.name == 'Free Issue' %}
                                <a class="btn btn-primary" href="{% url 'new_issue' %}">Add free issue</a>
                            
                            {% else %}
                                <div>
                                    <select class="margin_btn" name="quantity" type="number" placeholder="Quantity">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                            
                                    <button class="btn btn-success margin_btn add_confirm" id="confirm" onclick="addToBasket()" type="submit">Add to basket</button>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                    
                </div> <!-- Close panel-body class -->
            </div> <!-- Close col classes-->
        {% endfor %}
    </div> <!-- Close row -->
</div> <!-- Close products container -->
{% endblock %}