
body {
    height: 100%;
    background-color: #ffc107;
    font: blue;
}

/* Keep footer at the bottom of the page  */
.body {
    min-height: calc(100vh - 50px);
    
}

.footer {
    height: 50px;
}

