{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %} Checkout page {% endblock %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block body_text %}
<div class="container">
    <div class="row">
        <ul class="ul-no-design">
            <li>
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <p>{{product.name}}</p>
                <p>£ {{product.price}}</p>
                <p>Total: <span aria-hidden="true"></span>£{{ total }}</p>
            </li>
        </ul>
    </div>

    <form role="form" method="POST" id="payment-form" action="{% url 'checkout' %}">
        <div class="form-group col-md-6">
            <h3>New Feature Requested</h3>
            <label for="{{ feature_form.name.id_for_label }}">New Feature:</label>
            <label for="id_name"></label>
            <input id="id_name" type="text" name="name" maxlength="100">
        </div>
        
        <legend class="col-md-6">Payment & Billing Details</legend>
        
        <div id="credit-card-errors" style="display:none">
            <div class="alert-message block-message error" id="stripe-error-message"></div>
        </div>

        <div class="form-group col-md-6">
            {{ order_form | as_bootstrap }}
        </div>

        <div class="form-group col-md-6">
            {{ payment_form | as_bootstrap }}
        </div>

        {% csrf_token %}
        <div class="form-group col-md-12">
            <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
        </div>
    </form>
    <div class="col-md-6">
        <button class="btn btn-primary edited_button"><a href="{% url 'home' %}">Cancel order</a></button>
    </div>
</div>
{% endblock %}