{% extends 'base.html' %}
{% block page_title %}Invoice{% endblock %}
{% block body_text %}


<div class="container margin_top">
    <div class="row">
        <div class="col-sm-12">
            <h4>Thanks for your order {{ user|title }}!</h4>
        </div>
    </div>
</div>

<div class="container margin_top">
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}