{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}
{% block body_text %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Login page</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </div>
    </div>
</div>

<!-- Render the login form -->
<div class="container">
    <form method="POST">
        {% csrf_token  %}
        {{ login_form | as_bootstrap }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p class="margin_top"><a href='{% url "password_reset" %}'>Forgotten password</a></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}