{% extends 'base.html' %}
{% block page_title %}{{ user|title }}'s Profile{% endblock %}
{% block body_text %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Hi {{ user|title }}</h1>
        </div>
    </div>
</div>

<div class="container margin_top">
    <div class="row">
        <div class="col-sm-12">
            <h5>Welcome to your account!</h5>
        </div>
    </div>
</div>


<div class="container margin_top">
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<div class="container margin_top">
    <div class="row">
        <div class="col-sm-12">
            <p>Username: {{user.username}}</p>

            <!-- If a first name exists for the user then display the full name, 
            otherwise don't display the name -->
            {% if user.first_name %}
                <p>Name: {{user.first_name|title}} {{user.last_name|title}}</p>
            {% else %}

            {% endif %}
            <p>Email: {{user.email}}</p>
        </div> <!-- Close col class -->
    </div> <!-- Close row -->

    <div class="row">
        <div class="col-sm-12">
            <!-- If the user has made any orders, the most recent 5 will be displayed here -->
            {% if user_orders %}
                <h4 class="margin_top">Most Recent Order Dates</h4>
                {% for order in user_orders %}
                <ul>
                    <li>{{order.date}}</li>
                </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 margin_top">

            <!-- If the user has liked any issues they will be displayed here -->
            {% if user_liked_issues %}
                <h4>Most Recent Liked Issues</h4>
                {% for liked_issue in user_liked_issues %}
                <ul>
                    <li>{{liked_issue|title}}</li>
                </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row margin_top">
        <div class="col-sm-12">
            <!-- If the user has liked any features the most recent will be displayed here -->
            {% if user_liked_feature %}
                <h4>Most Recent Liked Features</h4>
                {% for liked_feature in user_liked_feature %}
                <ul>
                    <li>{{liked_feature|title}}</li>
                </ul>
                {% endfor %}
            {% endif %}
        </div>
    </div>

</div> <!-- Close container -->

<!-- Pulling data from user profile model - displays favourite games depending on
whether any exist -->
<div class="container margin_top">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            {% if user.profile %}
                
                {% if user.profile.favourite_games == '' %}
                    <h4>Want to add some of your favourite games?</h4>
                {% else %}
                    <h4>Some of your favourite games!</h4>
                    <p>{{user.profile.favourite_games|title}}</p>
                {% endif %}

                <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit favourite games</a>
                
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}