{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Cart{% endblock %}

{% block body_text %}

<div class="container">
    <div class="row row-flex products_container">
        {% for item in cart_items %}

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 product-card">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
            
                <div class="caption">
                    <h3>{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description }}</p>
                    <p><i class="fa fa-gbp">{{ item.product.price }}</i></p>
                    <p>
                        <form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>

                                <div class="input-group">
                                    <div class="input-group-addon">Qty</div>
                                    <input name="quantity" type="number" min="0" max="10" class="form-control" value="{{item.quantity}}">
                                    
                                    <div>
                                        <button type="submit" class="btn btn-primary">Amend</button>
                                    </div>
                                </div>

                                
                            </div> <!-- Close form-group class -->
                        </form>
                    </p>
                </div> <!-- Close caption class -->
            </div> <!-- Close col classes -->
            
        {% endfor %}
        
        <!-- Cart total and checkout -->
        <div class="container">
            {% if product_count == 0 %}
                <p>Oops, your basket is empty!</p>
            {% else %}
                {% if user.is_authenticated %}
                    <p>£{{total}}</p>
                    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign"
                            aria-hidden="true"></span>Checkout</a>
                {% else %}
                    <p>£{{total}}</p>
                    <p>Login or make an account to complete your order</p>
                    <button class="btn"><a href="{% url 'register' %}">Join</a></button>
                    <button class="btn"><a href="{% url 'login' %}">Login</a></button>
                    
                    {{cart.quantity}}
                {% endif %}
            {% endif %}
        </div>

    </div>
</div>

{% endblock %}