{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{% block page_title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link media="all" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'bootstrap_theme/css/sb-admin.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    {% block jquery %}
    {% endblock %}

    {% block head_js %}
    {% endblock head_js %}
</head>
<body id="page-top">
    <div class="body">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Game Bug</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'charts' %}">Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'all_products' %}">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_feedback' %}">Feedback</a>
                    </li>

                    <!-- Account actions and icon -->
                    <li class="nav-item dropdown no-arrow">
                        
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i>
                        </a>

                        <!-- If user is already signed in -->
                        {% if user.is_authenticated %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}">Account</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        {% else %}
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'login' %}">Sign In</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'register' %}">Join Us</a>
                            </div>
                        {% endif %}
                    </li>
                    
                </ul>

                <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search_issues_and_features' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="search">Search</button>
                </form>
            </div> <!-- Closing collapse class -->
        </nav>

        <!-- Content for body -->
        <div class="container">
            {% block page_heading %}
            {% endblock %}
            
            {% block breadcrumb_overview_of_page %}
            {% endblock %}
            
            {% block icon_cards %}
            {% endblock %}
            
            {% block heading %}
            {% endblock %}
            
            {% block body_text %}
                {% block charts_js %}
                {% endblock %}
            {% endblock %}
        </div>
    
    </div><!-- closing body class -->

        <!-- Sticky Footer -->
        <footer>
            <div class="footerStick text-center">
                <span>For education purposes</span>
                <p>
                    <!-- Contact icons -->
                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com"><i class="fa fa-facebook-square"></i></a>
                    <a href="mailto:example@hotmail.com?subject=Question about the tracker"><i class="fa fa-envelope"></i></a>
                </p>
            </div>
        </footer>

        
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    
    <script src="{% static 'js/script.js' %}"></script>
    
    {% block chart_scripts %}
    {% endblock %}
    
    
</body>
</html>